
log_format graylog2_json escape=json '{ "timestamp": "$time_iso8601", '           
                      '"remote_addr": "$remote_addr", '                           
                      '"request_body": "$request_body", '                         
                      '"body_bytes_sent": $body_bytes_sent, '                     
                      '"request_time": $request_time, '                           
                      '"response_status": $status, '                              
                      '"request": "$request", '                                   
                      '"content_type": "$content_type", '                         
                      '"http_authorization": "$http_authorization", '             
                      '"request_method": "$request_method", '                     
                      '"host": "$host",'                                          
                      '"upstream_cache_status": "$upstream_cache_status",'        
                      '"upstream_addr": "$upstream_addr",'                        
                      '"http_x_forwarded_for": "$http_x_forwarded_for",'          
                      '"http_referrer": "$http_referer", '                        
                      '"http_user_agent": "$http_user_agent" }';                  
                                                                                  
  server {                                                                        
        listen 80;                                                                
        listen [::]:80;                                                           
                                                                                  
        location / {                                                              
             proxy_pass http://localhost:8080/;                                   
             proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;         
             proxy_set_header X-Forwarded-Proto $scheme;                          
             proxy_set_header X-Forwarded-Port $server_port;                      
                                                                                  
             access_log syslog:server=0.0.0.0:12304 graylog2_json;                
             error_log syslog:server=0.0.0.0:12305;                               
                                                                                  
        }                                                                         
                                                                                  
  }                                                                               
